[run]
# Include only files in the 'my_project' directory.
#source = Py_Web_Scrape

# Measure branch coverage as well (if needed).
branch = True

# Exclude specific blocks of code (e.g., __main__ guards).
omit =
    */__init__.py
    */tests/*

[report]
# Specify the report precision for coverage percentages.
precision = 2

# Exclude lines from the report using comments.
exclude_lines =
    # Ignore debugging and pragma statements.
    pragma: no cover
    if __name__ == .__main__.:

[html]
# Output HTML coverage report to 'htmlcov' directory.
directory = htmlcov

[xml]
# Output XML report to 'coverage.xml'.
output = coverage.xml
